.page-header {
  padding-bottom: $page-header-margin-y;
  padding-top: $page-header-margin-y;
  text-align: center;
}

.page-title {
  display: block;
  color: $page-title-color;
}

.page-subtitle {
  color: $page-subtitle-color;
  margin-bottom: 0;
}

.page-actions {
  margin-top: $spacer * 1.5;
}
