.page-header {
  padding-bottom: $page-header-margin-y;
  padding-top: $page-header-margin-y;
  text-align: center;
}

.page-title {
  background: url('data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJod…EiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+');
  color: $page-title-color;
  filter: progid:DXImageTransform.Microsoft.gradient(
      startColorstr='#00ffffff',
      endColorstr='#00fff401',
      GradientType=0
    );
  display: inline-block;
}

.page-subtitle {
  color: $page-subtitle-color;
  margin-bottom: 0;
}

.page-actions {
  margin-top: $spacer * 1.5;
}
