.search-group {
  display: flex;
  flex: 100%;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: flex-start;

  .search-group-input {
    display: inline-block;
    flex-grow: 1;
    vertical-align: middle;
    width: auto;
  }

  .search-group-button {
    margin-left: 1rem;
  }

  @include media-breakpoint-up(lg) {
    .search-group-button {
      min-width: 130px;
    }
  }

  @include media-breakpoint-down(md) {
    // Display inputs as blocks.
    .search-group-input {
      display: block;
      margin: 0 0 0.5rem !important;
      width: 100%;
    }

    // Split buttons (submit, clear) into row with each
    // at 50%.
    .search-group-button,
    .btn:not(.search-group-button) {
      flex-grow: 1;
      margin-left: 0 !important;
    }

    .btn:not(.search-group-button) {
      margin-right: 0.5rem !important;
    }
  }
}
