//
// Textual form controls
//

.form-control {
  transition: all $base-duration $base-timing;
}

//
// Target select specifically
//
select.form-control {
  max-width: 100%;
  padding-right: 24px;
  padding-right: 8px \9;
  background: $white
    url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABAAAAAUCAMAAACzvE1FAAAADFBMVEUzMzMzMzMzMzMzMzMKAG/3AAAAA3RSTlMAf4C/aSLHAAAAPElEQVR42q3NMQ4AIAgEQTn//2cLdRKppSGzBYwzVXvznNWs8C58CiussPJj8h6NwgorrKRdTvuV9v16Afn0AYFOB7aYAAAAAElFTkSuQmCC")
    no-repeat right 8px center;
  background-image: none \9;
  background-size: 8px 10px;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}

//
// Form Errors and Validation
//

.form-group-error {
  background-color: $form-group-error-bg;
  border-radius: $form-group-error-border-radius;
  color: $form-group-error-color;
  display: inline-block;
  font-size: $font-size-sm;
  margin-top: 0.15rem;
  padding: $form-group-error-padding-y $form-group-error-padding-x;
  position: relative;
  z-index: 3;

  &::before {
    border: solid transparent;
    border-bottom-color: $form-group-error-bg;
    border-width: 6px;
    bottom: 100%;
    content: " ";
    height: 0;
    left: 10px;
    pointer-events: none;
    position: absolute;
    width: 0;
  }
}
