.loader,
.loader::after {
  border-radius: 50%;
  height: $loader-width;
  width: $loader-width;
}

.loader {
  animation: loader 0.95s infinite linear;
  border-bottom: 0.25rem solid $loader-bg;
  border-left: 0.25rem solid $loader-fg;
  border-right: 0.25rem solid $loader-bg;
  border-top: 0.25rem solid $loader-bg;
  position: relative;
  text-indent: -9999em;
  transform: translateZ(0);
}

@keyframes loader {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}
