.loader,
.loader::before,
.loader::after {
  border-radius: 50%;
}

.loader {
  box-shadow: inset 0 0 0 1em;
  color: $loader-color;
  font-size: $loader-font-size;
  height: 10em;
  position: relative;
  text-indent: -99999em;
  transform: translateZ(0);
  width: 10em;
}

.loader::before,
.loader::after {
  content: '';
  position: absolute;
}

.loader::before {
  animation: loader-animation 1.25s infinite ease 0.9375s;
  background: $loader-bg;
  border-radius: 10.2em 0 0 10.2em;
  height: 10.2em;
  left: -0.1em;
  top: -0.1em;
  transform-origin: 5.2em 5.1em;
  width: 5.2em;
}

.loader::after {
  animation: loader-animation 1.25s infinite ease;
  background: $loader-bg;
  border-radius: 0 10.2em 10.2em 0;
  height: 10.2em;
  left: 5.1em;
  top: -0.1em;
  transform-origin: 0px 5.1em;
  width: 5.2em;
}

@-webkit-keyframes loader-animation {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}
@keyframes loader-animation {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}
