.lh-1 {
  line-height: 1;
}

.lh-auto {
  line-height: auto;
}

//
// Pointers
//

.pointerless {
  pointer-events: none;
}

//
// Horizontal rules
//

.hr-text {
  border: 0;
  color: $hr-text-color;
  height: 1rem;
  line-height: $hr-text-line-height;
  outline: 0;
  position: relative;
  text-align: center;

  &::before {
    background-color: $hr-border-color;
    content: "";
    height: $hr-border-width;
    left: 0;
    position: absolute;
    top: 50%;
    width: 100%;
  }

  &::after {
    background-color: $white;
    color: $hr-text-color;
    content: attr(data-content);
    display: inline-block;
    line-height: $hr-text-line-height;
    padding: $hr-text-padding-y $hr-text-padding-x;
    position: relative;
  }
}
